.disable-animations, .disable-animations * {
    /* CSS transitions */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /* CSS transforms */
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /* CSS animations */
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

.grade-1{
    background: #E49900 !important;
}

.kv-grid-table thead{
    color: #f56954;
}

.size-icone{
    font-size: 20px;
}


.size-label{
    font-size: 16px;
    font-weight: 400;
}
.bootstrap-dialog-message{
    padding: 20px;
}
.modal-body {
    position: relative;
    padding: 15 !important; 
}
.modal-header{
    background: #4D6269 !important;
    color: #fff !important;
}
.projeto-protocolado .kv-grid-toolbar{
    margin-top: 27px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fafafa;
}

body, h1, h2, h3, h4, h5, h6,p,a {
    font-family: 'Montserrat',verdana, sans-serif;
    color:#283337;
}

.img-responsive {
    margin: 0 auto;

}

body::-webkit-scrollbar {
    width: 0.5em;

}

body::-webkit-scrollbar:hover {
    width: 1em;

}

body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

body::-webkit-scrollbar-thumb {
    background-color: #283337;

    outline: 1px solid #3a5461;
}
.main-header .sidebar-toggle:before {
    content: "";
}
.wrapper{
    color: #283337; 
}
.content-wrapper{
    background-color: rgb(253, 250, 250);  
}

.field-curso-status .col-md-10{
    padding-left: 25px;
}

.main-header{
    border-top: 5px solid #c21d16;
}
.skin-red .main-header .navbar {
    background-color: #3a5461;

}


.skin-red .main-header .logo {
    background-color: #C21D16;
    color: #fff;
    border-bottom: 0 solid transparent;


}

.modal-body .status-modal .col-md-8{
    float: right;
}


.navbar.navbar-static-top {
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: none;
    padding-bottom: 8px;
    padding-top: 8px;
}

.control-sidebar-dark+.control-sidebar-bg {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px;
}

.control-sidebar-light, .control-sidebar-light+.control-sidebar-bg {
    background: #DDE4E7;
    border-left: 1px solid #d2d6de;
}

.btn-info{
    background: #1668B9;
    border:#3949AB;
}
.btn-info:hover{
    background: #1668B9;
    border:#3949AB;
}
.btn-danger{
    background: #C21D16;
}
.bootbox-body{
    padding: 20px;
}
.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);
}

.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
    background-color: #283337;
}
.sidebar-menu a{
    color: #fff !important;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {
    color: #fff;
    background: #4D6269;
    border-left-color: #C21D16;
}

.text-weight-normal{
    font-weight: normal !important;
}

.skin-red .sidebar-menu>li.header {
    color: #688590;
    background: #283337;
    font-weight: bold;

}

.breadcrumb{
    background: #FBFAF8;
}

.btn-success {
    background-color: #1668B9;
    border-color: #3949AB;
}

div.cropbox .cropped {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 50px;
    padding: 0px 0 0px 0 !important;
}

.workarea-cropbox {
    position: relative;
    overflow: hidden;
    display: none;
    margin-bottom: 0px !important; 
}


.btn-warning {
    background-color: #688590 !important;
    border-color: #4D6269 !important;
}

.btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus {
    background-color: #4D6269;
    border-color: #283337;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
    background-color: #e08e0b;
}

.btn-warning:hover {
    color: #fff;
    background-color: #4D6269;
    border-color: #283337;
}



.btn-default{
    background-color: #DDE4E7;
    border-color: #94A9B1;

}

.main-sidebar{

    box-shadow: inset rgba(0, 0, 0, 0.298039) 0px 1px 3px;;
}


.texto-centralizado{
    text-align: center !important;
}

.field-route-status .col-md-10,.field-usuario-status .col-md-10{
    padding-left:20px !important;

}
.help-block{
    padding-left: 20px;
    font-size: 12px;
}

.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 55px;

}

.titulo-conteudo{
    padding: 15px 10px 10px 15px;
    font-size: 24px !important;
    margin-bottom: 0px;
}

.titulo-conteudo h1{
    font-size: 28px !important;
}

.titulo-conteudo h1{
    margin: 0px !important;
    padding: 0px !important;
}
.box{
    border-top: none !important;
}
a, a:hover{
    color:#f56954;
}
.bread, .bread a{

    font-size: 11px;
    color: #888;
}

.form-control{
    height: 40px !important;
}

.has-error label, .help-block{
    color: #f56954 !important;
}

.pagination .active a{
    background: #f56954;
    border:1px solid #f56954;
}

.pagination .active a:hover{
    background: #d33724;
    border:1px solid #f56954;
}

input[type=checkbox],input[type=radio]{
    display: none;
}

.breadcrumb{
    margin-bottom: 0 !important;
}
.content{
    padding-top: 0 !important;
}
.margin-top20{
    margin-top: 20px;
}
.padding-botton20{
    padding-bottom: 20px;
}

.form-group.has-success label {
    color: #688590 !important;
}

.form-stylo textarea{
    min-height: 100px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 5px 15px 5px !important;
    font-size: 16px !important;
    background: white !important;
    border: 2px solid #ebebeb !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 -2px #ebebeb !important;
    box-shadow: inset 0 -2px #ebebeb !important;
}

.form-stylo input, .form-stylo select{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 5px 15px 5px !important;
    font-size: 16px !important;
    background: white !important;
    border: 2px solid #ebebeb !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 -2px #ebebeb !important;
    box-shadow: inset 0 -2px #ebebeb !important;
}

/*.coluna-show {
   display: none;
   vertical-align: middle !important;
}


.box-body[min-width~="1150px"] .coluna-show {
   display: block;
   vertical-align: middle !important;
   
}*/

.header-primary{
    text-align: left;
}

.sidebar-form-p input{
    background-color: #fff !important;
    border:none;

}
.skin-red .sidebar-form-p {
    border-radius: 3px;
    border: none !important;
    margin:0 !important;
}

.pesquisar{
    border-bottom: 1px solid #EFEBE9 !important;
    border-top: none !important;
    float: right;
    width: 160px;
    padding: 5px;
    font-size: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.form-horizontal .control-label {
    padding-top: 15px !important;
    margin-bottom: 0;
    text-align: right;
}
.titulo-curso-capa, .capa-projeto, .autor-capa, .titulo-capa, .data-capa{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    line-height: 18px;
    text-transform: uppercase;

}
.titulo-capa{
    padding-top: 30px;
}

.data-capa{
    padding-top: 60px;
}

.kv-panel-before{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.usuario-view{
    margin-top: 20px;
}

.pesquisar:focus {
    border-top: none !important;


    outline: none;
    width: 100%;
}

.sidebar-form-p .btn {
    box-shadow: none;
    background-color: #fff !important;
    border: 1px solid transparent;
    height: 35px;
}
label{
    color: #688590;
}

.loadingGrid {
    opacity: 0.7;
    background: #ffffff url('loadingp.gif') center center no-repeat !important;
}

.skip-export .btn{
    margin-left: 3px;
}

#conteudo-wrapper{


}
.loadingGrid tr, .loadingGrid td {
    background: transparent !important;
}

.loadingGrid td {
    border-color: #efefef !important;
}
.footer-view{
    margin-top: 20px;
    padding-left: 25px !important;
}

.modal-title{
    color:#fff !important;
}

.workarea-cropbox {
    max-height: 300px;
}

.user-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.label-block{
    width: 120px !important;
    line-height: 20px !important;
    padding: 5px !important;
    border-right: none !important;
}

.titulo-permissao{
    background: #f56954 !important;
    padding: 10px !important;
    color: #fff;
}

.permissao-tipo{
    padding: 10px !important;
    vertical-align: middle !important;
}

.permissao-all{
    text-align: center;
}


.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #c21d16 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #c21d16; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 5px 0 !important; }
.tab-content{padding:5px}


#relatorio{
    width: 800px;
    margin: auto;
    font-size: 16px;
}
.titulo{
    text-transform: uppercase;
}
.tabelaRel{
    border-collapse: collapse;
}
.tabelaRel tr td,   .tabelaRel tr th{
    border:1px solid #000;
    padding: 10px;
}
.linha{
    color:#ccc

}
.tabelaRel th{
    text-align: center;        
}

.tabelaRel{
    width: 100%;
}

.nota{
    text-align: center;
    vertical-align: middle;
}


div.jsoneditor{
    border:none !important;
}

div.jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    background-color: #C21D16;
    border-bottom: none;
}
/* Screens */
@media only screen and (max-width : 1200px) {

}

/* Desktops */
@media only screen and (max-width : 992px) {
    .form-horizontal .control-label {
        padding: 0px 0px 10px 30px !important;
        margin-bottom: 0;
        text-align: right;
    }
    .footer-view{
        padding-left: 10px !important;
    }
}

/* Tablets */
@media only screen and (max-width : 768px) {
    .pesquisar{
        width: 100%;
    }
    .form-horizontal .control-label {
        padding-top: 0px !important;
        margin-bottom: 0;
        text-align: right;
    }
    .footer-view{
        padding-left: 10px !important;
    }

    .sidebar-menu{
        margin-top: 50px;
    }

}

/* Phones */
@media only screen and (max-width : 480px) {

}

/* iPhone Retina */
@media only screen and (max-width : 320px) {

}
