html{
    position:relative;
    min-height:100%}


.container{
    width:auto;
    max-width:980px;
    padding:0 15px
}
.container .text-muted{
    margin:20px 0
}

.main{
    
    height: 100%;
}


a, a:hover{
    color:#f56954;
}





body { 
    margin-bottom:60px;
    font-family: 'Montserrat',verdana, sans-serif !important;
    color:#283337;
    background-color: rgb(253, 250, 250);
}

.navbar-inverse{
    background: #3a5461;
   

}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 25px !important;
    line-height: 30px;
}

#painel-login{
    
     margin-bottom: 50px;
  
}

.form-stylo input, .form-stylo select{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 5px 15px 5px !important;
    font-size: 16px !important;
    background: white !important;
    border: 2px solid #ebebeb !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 -2px #ebebeb !important;
    box-shadow: inset 0 -2px #ebebeb !important;
}



.panel-login>.panel-heading .tabs{
    padding: 0;
}
.panel-login h2{
    font-size: 20px;
    font-weight: 300;
    margin: 30px;
}
.panel{
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.panel-login>.panel-heading {
    color: #848c9d;
    background-color: #e8e9ec;
    border-color: #fff;
    text-align:center;
    border-bottom: 0px;
    padding: 0px 15px;
}
.panel-login .form-group {
    padding: 0 30px;
}
.panel-login>.panel-heading .login, .panel-login>.panel-heading .register {
    color: #283337;
    padding: 20px 30px;
   
}
.btn-default {
    background-color: #dde4e7;
    border-color: #94a9b1;
    height: 40px;
}

.titulo{
    padding: 0 30px 30px 30px;
    font-size: 30px;
    color:#4D6269;
    text-align: center;
    font-weight: 700;
}

.btn-warning {
    background-color: #688590 !important;
    border-color: #4D6269 !important;
}

.btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus {
    background-color: #4D6269;
    border-color: #283337;
}

.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a#cadastro-form-link {
    color: #fff;
    width: 100%;
    text-align: right;
}
.panel-login>.panel-heading a#login-form-link {
    width: 100%;
    text-align: left;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 0;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px;
    padding: 6px 0px;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #E8E9EC;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #2D3B55;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.panel-login .checkbox label {
    padding-left: 5px;
    font-weight: 300;
    display: inline-block;
    position: relative;
}

.btn-register {
    background-color: #E8E9EC;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #2D3B55;
}


.panel-login>.panel-heading .active div{
    padding: 20px 30px;
    background: #4D6269;
    color: #fff;
   
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #3a5461;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;

    background-color: #688590;
  

}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-top: 5px solid #c21d16;
    border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;

}



.footer {
   
    height: 70px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position:absolute;
    bottom:1px;
    width:100%;
    height:70px;
    background-color:#fff;
}

